.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata


/Sources/BasedCplusplusClient/cpp-client/prebuilt-libs/*
/based-universal-v2.1.1-xcframework.zip
/Based.xcframework

*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm